:root {
    --primary-color:        #ffd500;
    --white-color:          #ffffff;
    --dark-color:           #010101;
    --menu-bg-color:        #212529;

    --gray-color:           #909090;
    --p-color:              #7d7a7a;

    --base-font-family:     "Plain", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-weight-bold:     600;
    --font-weight-normal:   400;
    --font-weight-light:    300;

    --h1-font-size:         56px;
    --h2-font-size:         48px;
    --h3-font-size:         38px;
    --h4-font-size:         34px;
    --h5-font-size:         30px;
    --h6-font-size:         24px;
    --p-font-size:          18px;
    --base-font-size:       16px;
    --button-font-size:     20px;

    --border-radius-large:  100%;
    --border-radius-medium: 80px;
    --border-radius-small:  40px;
    
  }
  html
{
   /*font-size: 1em !important;
   color: #000 !important;*/
   font-family: Arial !important;
   scroll-behavior: smooth;
}
  
  .topnav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    width: 100%;
    height:5%;
    text-align:center;
    border-bottom: 1px solid black;
    position: -webkit-sticky;
	  position: sticky;
  	top: 0;
    
  }
  .center{
    text-align:center;
    padding-left: 10%;
    padding-right: 10%;
   }
  .inlineblock {
   display: inline-block;
   /*height:100%;*/
  }
  .justify{
    text-align:justify;
  }
  .marginLeft15{
    margin-left:15%;
  }
  .marginLeft5{
    margin-left:5%;
  }
  .marginRight15{
    margin-right:15%;
  }
  .padding10{
    padding-left: 10%;
    padding-right: 10%;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }  
  .BackGround {
    background-color: rgba(255, 255, 255, 0.26);
    overflow: hidden;
    width: 100%;
   /* height:100%;*/
    /*text-align:center;*/
    border-width: 0%;
   
  }
  
  .vertical-center {
 
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .verticalTop{
    vertical-align: top;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    display:block;
    height:100%;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
   
  }
  .valign{
    vertical-align: middle;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    /*background-color: #ddd;*/
    color: rgb(219, 219, 219);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ebebeb;
    color: rgb(0, 0, 0);
  }
  @viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

  .profilePic{
    /*width: device-width ;
    zoom: 1.0 ;*/
    width:100%;
  }
  .heightTen{
    
    height:10%;

  }
  .height100{
    height: 100%;
  }
  .width20{
    width: 20%;
  }

 

  .fadein {
    
        opacity:0;
    
    }
  .fadein2 {
    
      opacity:0;
  
  }
  .fadeinRandom {
    
    opacity:0;

}
  .grid{
    width:70%;
    padding-left: 15%;
    padding-right: 15%;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-template-rows: 100px 100px;
    grid-gap: 4%;

    place-items:center;
  }

  
 
  

@media (max-width: 600px) and (min-height:600px)  {
 
  .grid{
    width:70%;
    padding-left: 15%;
    padding-right: 15%;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 100px 100px;
    grid-gap: 4%;
    place-items:center;
   }
   .smartPhoneMarginTop15{
    margin-top: 15%
   }
   .topnav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    width: 100%;
    height:10%;
    text-align:center;
    border-bottom: 1px solid black;
    position: -webkit-sticky;
	  position: sticky;
  	top: 0;
    
  }
  
}
    
